In [1]:
import pandas as pd

In [2]:
df = pd.read_json("data/contacts.json")

In [3]:
df

,Id,Email,Phone,Contacts,OrderId
0,0,gkzAbIy@qq.com,,1,
1,1,,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2,2,,9125983679,0,
3,3,mdllpYmE@gmail.com,,0,bHquEnCbbsGLqllwryxPsNOxa
4,4,,300364407,2,
...,...,...,...,...,...
499995,499995,,10072395382,2,whJlUOGNqjxCRzmIRdURQvlNv
499996,499996,,571709661031,4,JqIXOONvrwvJxZqNxCYHqnrKS
499997,499997,,4541459979,2,beXCZSzcHaBwAYoDcpQqjuAFO
499998,499998,RzSDsyH@hotmail.com,98947185431,1,ehjeFACGiwrERQxbziMxwOWku
499999,499999,,880053388839,0,JibSBRgzYdfzkzbTuGUXrcvDX

In [4]:
df.dtypes

Id           int64
Email       object
Phone       object
Contacts     int64
OrderId     object
dtype: object

In [5]:
df.groupby('Email')['Id'].apply(list)

Email
                                    [1, 2, 4, 5, 10, 14, 15, 16, 25, 26, 32, 34, 3...
AAAQbNfGbLAeOvw@hotmail.com                                          [112387, 470075]
AAAgyKTteOjasN@qq.com                                                        [338154]
AABZmKeEldvO@gmail.com                                                       [426495]
AABneiGcqcz@qq.com                                                            [37868]
                                                          ...
zzyYjbPWM@hotmail.com                                                [143089, 338473]
zzyacSRLb@gmail.com                                                          [425119]
zzylmjkoqfCkTOxi@hotmail.com                                                 [146556]
zzyvKfCcQWPJdShGoItP@hotmail.com                                     [381064, 458030]
zzyvegdhAJTFNDRQhMS@hotmail.com                                              [232950]
Name: Id, Length: 249157, dtype: object

In [6]:
df.groupby('Phone')['Id'].apply(list)

Phone
                [0, 3, 6, 7, 9, 11, 12, 18, 19, 20, 21, 23, 24...
000002957                                                [318092]
00000837565                                              [411745]
00001018140                                              [333273]
0000109887                                               [170421]
                                      ...
999972302                                                [326065]
999987880646                                              [37583]
99999153118                                              [179194]
9999969553                                       [323366, 483731]
999997713                                                [283756]
Name: Id, Length: 190678, dtype: object

In [7]:
df.groupby('OrderId')['Id'].apply(list)

OrderId
                             [0, 2, 4, 5, 6, 8, 11, 12, 14, 15, 16, 20, 25,...
AADcJzTiOYaerdvPPIpHTYWFg                                             [445646]
AAEDFOpdyZxsvmPcPgmwiELFs                                             [143711]
AAFgjEiKBoQQXfhywaKwGiMlF                                             [494384]
AAGNMeqoqZVLQYPeKQzxFXjGQ                                             [442033]
                                                   ...
zzuRehsZjVaspgpsRtVgaJCul                                             [121686]
zzvXLpaILosxjQVAfehImxyqM                                             [123567]
zzwYYYbmHxGAlqbtuVzIIVQVl                                             [157905]
zzxguiahceHZcBcyYDPGqfVsA                                             [448818]
zzyCSPABaRqpWOAiPLVlFWtoz                                             [185275]
Name: Id, Length: 189303, dtype: object